_site/
.jekyll-metadata
Gemfile.lock
.jekyll-cach/
.jekyll-cache/
_notebooks/.ipynb_checkpoints/
code/_notebooks/.ipynb_checkpoints/
*swp
code/_notebooks/erdos_deployment_lecture/.ipynb_checkpoints/
code/_notebooks/erdos_deployment_lecture/__pycache__/
