h1.blogtitle {
    display: inline-block; 
}

span.blogtags { 
    display: inline-block; 
    padding-left: 20px;
}

span.blogtags button {
    color: grey;
    padding-left:20px;
    padding-right:20px;
    border: none;
    font-size: 1em;
}

span.blogtags button:hover {
    text-decoration: underline;
    background: white;
    cursor: pointer;
}

h3 {
    display: inline-block;
    margin-top:0px;
    margin-bottom:0px;
}

span.date {
    font-size: 75%;
}

div.post {
    padding-left: 2%;
}


