---
layout: default
---

<!-- blog title page style -->
<link rel="stylesheet" type="text/css" href="/assets/css/blog.css">

<h1 class="blogtitle">
  {% if page.title == "french" %}
    Français
  {% else %}
    {{ page.title | capitalize }}
  {% endif %}
</h1>

<span class="blogtags">

  <button onClick="displayPosts('all')">All tags</button>

  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
    {% if tag != "draft" %}
      {% assign posts = tag[1] | where: "categories", page.title | sort %}
      {% if posts != empty %}
      <button onClick="displayPosts('{{ tag[0] }}')">
          {{ tag[0] | capitalize }}
        </button>
      {% endif %}<!-- posts != empty -->
    {% endif %}<!-- tag != "draft" -->
  {% endfor %}<!-- tag in sorted_tags -->


</span>

{{ content }}

{% for t in page.blogtags %}
<div class="blogDiv" id="{{ t }}" style="display:block;">
    <h2> {{ t | capitalize }} </h2>
    {% assign i = 0 %}
    {% for p in site.posts  %}
        {% if p.categories contains page.title  %}
        {% if p.tags contains t %}
            {% assign i = i | plus: 1 %}
            {% if i > 3 %}
                <div class="post vanishingPost" style="display:none;">
            {% else %}
                <div class="post">
            {% endif %}
                {% if i > 1 %}
                <hr>
                {% endif %}
                <h3><a href="{{ p.url }}">{{ p.title }}</a></h3>
                <span class="date">{{ p.date | date_to_string }}</span>
                <p>
                    {{ p.description }}
                </p>
              </div>
        {% endif %}
        {% endif %}
    {% endfor %} <!-- p in site.posts -->
</div> <!-- blogDiv --> 
{% endfor %}<!-- t in blogtags -->



<script>
  function displayPosts(activate) {

    var divs = document.getElementsByClassName("blogDiv");
    var vanishingPosts = document.getElementsByClassName("vanishingPost");

    if (activate == "all") {

      for (var i=0; i < divs.length; i++) {
        divs[i].style.display = "block";
      }

      for (var i=0; i < vanishingPosts.length; i++) {
        vanishingPosts[i].style.display = "none";
      }

    } else {

      for (var i=0; i< divs.length; i++) {
        if (divs[i].id === activate) {
          divs[i].style.display = "block";
        } else {
          divs[i].style.display = "none";
        }
      }

      for (var i=0; i < vanishingPosts.length; i++) {
        vanishingPosts[i].style.display = "block";
      }

    }
  }
</script><!-- displayPosts script-->
