<!DOCTYPE html>

<html>

  <head>
    <title>{{ page.title }}</title>

    <meta name="author" content="Kevin Nowland">
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 

    <!-- our defualt style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/default.css">

    <!-- syntax highlighting -->
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">

    <!-- hamburger menu button -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- for tags: from Long Qian -->
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}

    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
       tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         processEscapes: true
       }
     });
     </script>
     <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  </head>

  <body>

  <a href="javascript:void(0)" class="openbtn" onclick="openNav()">
    <i class="fa fa-bars"></i>
  </a>

  <nav class="menu" id="myMenu">

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<!--
      <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
      </a>
-->

      <div class="colorBlock"> 
        <img src="/assets/images/website-pic.png">
      </div>

      <a href="/" class="menuLink">Home</a>
      <a href="/about" class="menuLink">About</a>
      <a href="/code" class="menuLink">Code</a>
      <a href="/français" class="menuLink">Français</a>
      <a href="/cv" class="menuLink">CV</a>

  </nav>


  <div id="main">

    {{ content }}

  </div>

  <script>
    // nav functions

    function closeNav() {
      document.getElementById("myMenu").style.width = "0px";
      document.body.style.backgroundColor = "white";

      // change color of links to normal
      var a = document.getElementById('main').getElementsByTagName('a');
      for (var i=0; i < a.length; i++) {
        a[i].style.color = "#ff6600";
      }
    }

    function openNav() {
      document.getElementById("myMenu").style.width = "250px";
      document.body.style.backgroundColor = "rgba(0, 0, 0, 0.4)";

      // change color of links to not be awful
      var a = document.getElementById('main').getElementsByTagName('a');
      for (var i=0; i < a.length; i++) {
        a[i].style.color = "black";
      }
    }
  </script>

  <script>
    function responsiveMenu() {
      var x = document.getElementById("myMenu");
      if (x.className === "col-2 menu") {
        x.className += " responsive";
      } else {
        x.className = "col-2 menu";
      }
    }
  </script><!-- responsiveMenu script -->

  </body>

</html>
