<!DOCTYPE html>

<html>

  <head>
    <title>{{ page.title }}</title>

    <meta name="author" content="Kevin Nowland">
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 

    <!-- our defualt style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/default.css">

    <!-- syntax highlighting -->
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">

    <!-- hamburger menu button -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>

  <body>

  <div class="header">
    
    <h1> Kevin Nowland </h1>

  </div> <!-- header -->

  <div class="row">
    <div class="col-2 menu" id="myMenu">

      <ul>
        <li id="bars">
            <a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">
              <i class="fa fa-bars"></i>
            </a>
        </li>
        <li><a href="/">Home</a> </li>
        <li><a href="/about">About</a></li>
        <li><a href="/code">Blog</a></li>
        <li><a href="/français">Français</a></li>
        <li><a href="/cv">CV</a></li>
      </ul><!-- main -->

      <div class="logo">

      </div>

    </div><!-- menu -->

    <div class="col-10 main">

      {{ content }}

    </div>

  </div> <!-- row -->
  

  <script>
    function responsiveMenu() {
      var x = document.getElementById("myMenu");
      if (x.className === "col-2 menu") {
        x.className += " responsive";
      } else {
        x.className = "col-2 menu";
      }
    }
  </script><!-- responsiveMenu script -->

  </body>

</html>
